<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seção de Projetos</title>
    <link rel="stylesheet" href="/assets/css/section.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">


</head>

<body>

    <section class="project-carousel">

        <!-- Seção do Carrossel -->
        <div class="carousel-wrapper"></div>
        <!-- O conteúdo do carrossel será gerado dinamicamente aqui -->

        <!-- Botões de navegação -->
        <button class="carousel-prev">❮</button>
        <button class="carousel-next">❯</button>
    </section>


    <!-- Scripts -->
    <script type="module" src="/assets/js/projects.js"></script>
    <script type="module" src="/assets/js/dados.js"></script>
    <script type="module" src="/assets/js/script.js"></script>

</body>

</html>